<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/farms.css" />
  </head>

  <body>
      
    <h1>FARMS INFORMATION</h1>
  
    <div id='farms'>
      <table>
        <thead>
          <tr id='farms-head'>
            <th id='fhid'>ID</th>
            <th id='fhname'>Name</th>
            <th id='fhowner'>Owner</th>
            <th id='fhaddress'>Address</th>
            <th id='fhprod_id'>Product</th>
            <th id='fhphone'>Phone</th>
          </tr>
        </thead>
        <tbody>
          <% farms.forEach(function(farms){ %>
          <tr id='farms-body'>
            <th id='fbid'><%=farms.id%></th>
            <td id='fbname'><%=farms.name%></td>
            <td id='fbowner'><%=farms.owner%></td>
            <td id='fbaddr'><%=farms.address%></td>
         
            <td id='fbprod_id'><a href="/products/<%=farms.product_id%>"><%=farms.prodname%></a></td>
            
            <td id='fbphone'><%=farms.phone%></td>
          </tr>
          <% }); %>
        </tbody>
      </table>  
    </div>

    

  </body>
</html>

