<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/prod.css" />
  </head>

  <body>
      
    
    <h1>PRODUCTS</h1>
    <div id='products'>
      <table>
        <thead>
          <tr id='prod-head'>
            <th id='phid'>ID</th>
            <th id='phname'>Name</th>
            <th id='phamount'>Amount</th>
            <th id='phprice'>Price</th>
            <th id='phdes'>Description</th>
            <th id='phbrand'>Brand</th>
            <th id='phcate'>Category</th>
          </tr>
        </thead>
        <tbody>
          <% prods.forEach(function(prods){ %>
          <tr id='prod-body'>
            <th id='pbid'><%=prods.id%></th>
            <td id='pbname'><%=prods.name%></td>
            <td id='pbamount'><%=prods.amount%></td>
            <td id='pbprice'><%=prods.price%></td>
            <td id='pbdes'><%=prods.description%></td>
            <td id='pbbrand'><%=prods.brand_id%></td>
            <td id='pbcate'><a href="/categories"><%=prods.catename%></a></td>
          </tr>
          <% }); %>
        </tbody>
      </table>  
    </div>

    

  </body>
</html>

